body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	height: 100dvh;
	background: #000;
}

canvas {
	height: 100vmin;
	width: auto;
	image-rendering: pixelated;
}

@media (orientation: portrait) {
	canvas {
		width: 100vmin;
		height: auto;
	}
}
